table {
  border-spacing: 0;
  border: 1px solid black;
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  text-align: left;
  position: relative;
}

.resizer {
  display: inline-block;
  background: black;
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  touch-action: none;
}